@import "../../Utils/colors.scss";

.ui-header {
  position: fixed;
  top: 0;
  z-index: 100;
  .ui.header {
    padding: 25px 25px 0px 30px;
    .header {
      color: $theme-yellow;
    }
  }
  .ui.text.menu {
    margin-left: 25px;
    .item {
      .link {
        color: $white;
        &:hover {
          font-weight: 700;
        }
        &.active {
          color: $theme-yellow;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .ui-header {
    background-color: $theme-blue;
    position: sticky;
  }
}
